html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

body {
    margin: 0vw;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
    background: #9a9a9a;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.back1, .back2, .back3, .back4 {
    position: absolute;
    left: 2vw;
    bottom: 2vh;
    cursor: pointer;
}
.hide {
    display: none;
}
.head-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-grid1 {
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0px;
    /* background-color: blue; */
}
.div-wrapper {
    display: flex;
    flex-direction: column;
}
.pic, .text {
    grid-row: 2 / 3;
}
.pic {
    max-width: 40vw;
    max-height: 80vh;
    grid-column: 2 / 7;
    justify-self: end;
    align-self: start;
    /* grid-column: 3 / 7;
    grid-row: 2 / 11; */
}
.text {
    margin: 0;
    font-size: 1rem;
    border: 1vw solid yellow;
    color: yellow;
    padding: 0%;
    max-width: 100%;
    max-height: 100%;
    grid-column: 6 / 12;
}
h1 {
    font-size: 8vw;
    font-family: sans-serif;
    text-align: center;
    /* color: white; */
    /* text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black; */
}
div {
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Infinite slight motion for all divs on front page */
.div1 {
    width: 95vw;
    height: 21vh;
    background: red;
    border: 0.75vw solid black;
    animation: divSway 12s ease-in-out infinite;
}
.div2 {
    width: 95vw;
    height: 21vh;
    background: limegreen;
    border: 0.75vw solid black;
    animation: divSway 14s ease-in-out infinite;
}
.div3 {
    width: 95vw;
    height: 21vh;
    background: yellow;
    border: 0.75vw solid black;
    animation: divSway 11s ease-in-out infinite;
}
.div4 {
    width: 95vw;
    height: 21vh;
    background: #0077ff;
    border: 0.75vw solid black;
    animation: divSway 13s ease-in-out infinite;
}

/* keyframes for infinite slight motion */
@keyframes divSway {
    0% {transform: rotateY(0deg);}
    25% {transform:  perspective(1000px) rotateY(-5deg);}
    50% {transform:  perspective(1000px) rotateX(-10deg);}
    75% {transform:  perspective(1000px) rotateY(10deg);}
    100% {transform:  perspective(1000px) rotateX(0deg);}
}
/* transition for each div into full screen size */

@keyframes imgFadeIn {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
@keyframes imgFadeOut {
    0% {opacity: 100%;}
    50%, 100% {opacity: 0%;}
}
@keyframes divHeader {
    0% {width: 98vw; height: 21vh; padding-left: 0vw; border: 0.75vw solid black; border-radius: 5%;} 
    100% {width: 100vw; height: 10vh; margin-top: 0vh; border: 0 solid transparent; border-radius: 0;}
}
@keyframes divShrink {
    40%, 100% {border: transparent; background: transparent;}
    80% {width: 0; height: 0;}
    100% {width: 0; height: 0;}
}
@keyframes headShrink {
    0% {font-size: 8vw;}
    100% {font-size: 0;}
}
@keyframes bodyFix1 {
    0%{background: #9a9a9a;}
    100% {background: red; grid-row-gap: 0vh;}
    /* 50%, 100% {grid-template-rows: 1fr; margin: 0; padding: 0; grid-column-gap: 0; grid-row-gap: 0; cursor: auto;} */
}
@keyframes bodyFix2 {
    0%, 99% {background: #9a9a9a;}
    99%, 100% {background: limegreen; grid-row-gap: 0vh;}
    /* 50%, 100% {grid-template-rows: 1fr; margin: 0; padding: 0; grid-column-gap: 0; grid-row-gap: 0; cursor: auto;} */
}
@keyframes bodyFix3 {
    0%, 99% {background: #9a9a9a;}
    99%, 100% {background: yellow; grid-row-gap: 0vh;}
    /* 50%, 100% {grid-template-rows: 1fr; margin: 0; padding: 0; grid-column-gap: 0; grid-row-gap: 0; cursor: auto;} */
}
@keyframes bodyFix4 {
    0%, 99% {background: #9a9a9a;}
    99%, 100% {background: #0077ff; grid-row-gap: 0vh;}
    /* 50%, 100% {grid-template-rows: 1fr; margin: 0; padding: 0; grid-column-gap: 0; grid-row-gap: 0; cursor: auto;} */
}
@keyframes oneBack {
    0% {width: 100vw; height: 10vh; 
        margin-top: 0vh; padding-left: 0vw; 
        border: 0 solid transparent; border-radius: 0;}
    100% {width: 95vw; height: 21vh;}
}
@keyframes twoBack {
    0% {width: 100vw; height: 20vh; grid-template-columns: repeat(12, 1fr); grid-template-rows: 21vh repeat(12, 1fr); margin-top: -9vh; padding-left: 0vw; border: 0 solid transparent; border-radius: 0;}
    100% {width: 95vw; height: 21vh;}
}
@keyframes threeBack {
    0% {width: 100vw; height: 20vh; grid-template-columns: repeat(12, 1fr); grid-template-rows: 21vh repeat(12, 1fr); margin-top: -12vh; padding-left: 0vw; border: 0 solid transparent; border-radius: 0;}
    100% {width: 95vw; height: 21vh;}
}
@keyframes fourBack {
    0% {width: 100vw; height: 20vh; grid-template-columns: repeat(12, 1fr); grid-template-rows: 21vh repeat(12, 1fr); margin-top: -15vh; padding-left: 0vw; border: 0 solid transparent; border-radius: 0;}
    100% {width: 95vw; height: 21vh;}
}
@keyframes bodyOrig1 {
    0%, 99% {background: red;}
    99%, 100% {background: #9a9a9a;}
    50%, 100% {grid-template-rows: 1fr; grid-gap: 2vw; cursor: pointer;}
}
@keyframes bodyOrig2 {
    0%, 99% {background: limegreen;}
    99%, 100% {background: #9a9a9a;}
    50%, 100% {grid-template-rows: 1fr; grid-gap: 2vw; cursor: pointer;}
}
@keyframes bodyOrig3 {
    0%, 99% {background: yellow;}
    99%, 100% {background: #9a9a9a;}
    50%, 100% {grid-template-rows: 1fr; grid-gap: 2vw; cursor: pointer;}
}
@keyframes bodyOrig4 {
    0%, 99% {background: #0077ff;}
    99%, 100% {background: #9a9a9a;}
    50%, 100% {grid-template-rows: 1fr; grid-gap: 2vw; cursor: pointer;}
}
@keyframes headSwell {
    0%, 20% {font-size: 0;}
    100% {font-size: 8vw;}
}
@keyframes divSwell1 {
    0% {width: 0; height: 0;}
    100% {width: 95vw; height: 21vh; border: 0.75vw solid black; background: red;}
}
@keyframes divSwell2 {
    0% {width: 0; height: 0;}
    100% {width: 95vw; height: 21vh; border: 0.75vw solid black; background: limegreen;}
}
@keyframes divSwell3 {
    0% {width: 0; height: 0;}
    100% {width: 95vw; height: 21vh; border: 0.75vw solid black; background: yellow;}
}
@keyframes divSwell4 {
    0% {width: 0; height: 0;}
    100% {width: 95vw; height: 21vh; border: 0.75vw solid black; background: #0077ff;}
}
@keyframes img1 {
    0% {width: 0;}
    100% {width: 100%;}
}


/* Change screen format for tablet/laptop */
@media only screen and (min-width: 750px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
        background: #9a9a9a;
        margin-top: 2vh;
    }
    .head-wrap {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 5%;
        cursor: pointer;
    }
    .div1 {
        width: 45vw;
        height: 45vh;
        background: red;
        border: 0.75vw solid black;
       
    }
    .div2 {
        width: 45vw;
        height: 45vh;
        background: limegreen;
        border: 0.75vw solid black;
       
    }
    .div3 {
        width: 45vw;
        height: 45vh;
        background: yellow;
        border: 0.75vw solid black;
    }
    .div4 {
        width: 45vw;
        height: 45vh;
        background: #0077ff;
        border: 0.75vw solid black;
    }
    /* img {
        width: 50%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    } */
    
    @keyframes divHeader {
        0% {width: 45vw; height: 45vh;}
        100% {width: 100vw; height: 10vh; 
            margin: 0; padding: 0; border: 0 solid transparent; 
            border-radius: 0;}
    }
    @keyframes divHeader2 {
        0% {width: 45vw; height: 45vh;}
        100% {width: 100vw; height: 10vh; 
            margin: 0; padding: 0; border: 0 solid transparent; 
            border-radius: 0; margin-top: -5vh;}
    }
    @keyframes oneBack {
        0% {width: 98vw; height: 10vh; 
            margin-left: 3vw; border: 0.75vw solid transparent; 
            border-radius: 0;}
        100% {width: 45vw; height: 45vh;}
    }
    @keyframes oneBack1 {
        0% {width: 100vw; height: 10vh; 
            border: 0.75vw solid transparent; border-radius: 0;}
        100% {width: 45vw; height: 45vh;}
    }
    @keyframes twoBack {
        0% {width: 100vw; height: 10vh; margin-right: 3vw; 
            border: 0.75vw solid transparent; border-radius: 0;}
        100% {width: 45vw; height: 45vh;}
    }
    @keyframes twoBack2 {
        0% {width: 100vw; height: 10vh; 
            border: 0.75vw solid transparent; border-radius: 0;}
        100% {width: 45vw; height: 45vh;}
    }
    @keyframes threeBack {
        0% {width: 100vw; height: 10vh; margin-left: 3vw; 
            border: 0.75vw solid transparent; border-radius: 0; margin-top: -7.5vh;}
        100% {width: 45vw; height: 45vh;}
    }
    @keyframes fourBack {
        0% {width: 100vw; height: 10vh; margin-right: 3vw; 
            border: 0.75vw solid transparent; border-radius: 0; margin-top: -7.5vh;}
        80%, 98% {margin-right: 20px;}
        100% {width: 45vw; height: 45vh;}
    }
    @keyframes divSwell1 {
        0% {width: 0; height: 0;}
        100% {width: 45vw; height: 45vh; 
            border: 0.75vw solid black; background: red;}
    }
    @keyframes divSwell2 {
        0% {width: 0; height: 0;}
        100% {width: 45vw; height: 45vh; 
            border: 0.75vw solid black; background: limegreen;}
    }
    @keyframes divSwell3 {
        0% {width: 0; height: 0;}
        100% {width: 45vw; height: 45vh; 
            border: 0.75vw solid black; background: yellow;}
    }
    @keyframes divSwell4 {
        0% {width: 0; height: 0;}
        100% {width: 45vw; height: 45vh; 
            border: 0.75vw solid black; background: #0077ff;}
    }
    @keyframes bodyOrig1 {
        0%, 99% {background: red;}
        99%, 100% {background: #9a9a9a;}
        50%, 100% {grid-template-rows: 1fr 1fr; grid-gap: 2vw; cursor: pointer;}
    }
    @keyframes bodyOrig2 {
        0%, 99% {background: limegreen;}
        99%, 100% {background: #9a9a9a;}
        50%, 100% {grid-template-rows: 1fr 1fr; grid-gap: 2vw; cursor: pointer;}
    }
    @keyframes bodyOrig3 {
        0%, 99% {background: yellow;}
        99%, 100% {background: #9a9a9a;}
        50%, 100% {grid-template-rows: 1fr 1fr; grid-gap: 2vw; cursor: pointer;}
    }
    @keyframes bodyOrig4 {
        0%, 99% {background: #0077ff;}
        99%, 100% {background: #9a9a9a;}
        50%, 100% {grid-template-rows: 1fr 1fr; grid-gap: 2vw; cursor: pointer;}
    }
}